@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --ff-:"Raleway", sans-serif;

    --gradient-:hsl(6, 100%, 80%) to hsl(335, 100%, 65%);

    --color-light-blue:hsl(243, 100%, 93%);
    --color-grayish-blue:hsl(229, 7%, 55%);
    --color-dark-blue:hsl(228, 56%, 26%);
    --color-very-dark-blue:hsl(229, 57%, 11%);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-very-dark-blue);
    font-family: var(--ff-);
    min-height: 100vh;
    max-width: 100vw;
    background-image: url('images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}


main{
    display: flex;
    gap: 2rem;
margin-bottom: 8rem;
}

main .box-1{
    background-color: var(--color-dark-blue);
    max-width: 22vw;
    padding-right: 10rem;
    padding-left: 2.5rem;
    border-radius: 12px;
    border-top-right-radius: 110px;
    display: block;
    /* transform: translateY(-22%); */
}


.box-1 .logo{
    padding-top: 2.8rem;
    width: 90%;
    }

.items ul{
    margin-top: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
}


.items a{
    background-color: var(--color-very-dark-blue);
    border-radius: 10px;
    color: rebeccapurple;
    padding: .8rem;
    align-items: center;
    justify-content: center;
    display: flex;
} 


.box-2{
    position: relative;
    background-color: var(--color-dark-blue);
    min-width: 600px;
    border-radius: 9px;
    margin-top: 70px;
    max-height: 19.50vh;
    padding-block: 2.8rem;
    padding-left: 3rem;
    padding-right: 2.3rem;
}



.box-2 .box-white{
    position: absolute;
    right: 8%;
    top: -29%;
    border-radius: 8px;
    background-color: white;
    padding-block: .750rem;
    padding-inline: 2rem;
}

.box-2 .box-white p{
    display: flex;
    align-items: center;
    color: var(--color-grayish-blue);
    font-weight: 650;
    font-size: .850rem;
    
}

.box-2 .box-white span{
    color: black;
    font-weight: 700;
    margin-right: .6rem;
    font-size: 2.8rem;
}

.box-white::after{
        content: '';
        position: absolute;
        bottom: -20px; /* Ajusta esta posición según tus necesidades */
        right: 0px;
        border-width: 30px;
        border-style: solid;
        border-color: transparent #fff transparent transparent;
      }

      
.box-2 .p-1{
    color: rgb(194, 194, 194);
    font-size: .950rem;
    font-weight: 450;
    margin-bottom: .4rem;
}

.p-1 span{
    color: #fff;
    font-weight: 650;
}

.box-2 .gb{
    display: flex;
    justify-content: space-between;
    color: #ededed;
    font-size: .8rem;
    font-weight: 650;
}

.box-2 .progress-bar{
    width: 100%;
    margin-top: .9rem;
    margin-bottom: .6rem;
    height: 21px;
    background-color: var(--color-very-dark-blue);
    border: 3px solid black;
    border-radius: 30px;
    overflow: hidden;
}

.box-2 .progress-bar .progress{
    position: relative;
    background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));    height: 20px;
    width: 78%;
    border-radius: 50px;
    height: 16px;
}
.box-2 .progress-bar .progress::after{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    right: 3px;
    bottom: 0%;
    background-color: beige;
    border-radius: 100%;
    transform: translateY(-27%);

}

.hidden{
    display: none;
}


@media screen and (max-width:980px){
    body{
        background-image: url('images/bg-mobile.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        flex-direction: column;
min-height: 100vh;
    }
    main{
        flex-direction: column;
        gap: 1.3rem;
        margin-bottom: 0rem;
    }

    main .box-1{
    max-width: 75vw;
    transform: translateY(0%);
    padding-right: 0rem;
    padding-left: 3rem;
    
    }


    .box-1 .logo{
        padding-top: 2.8rem;
        max-width: 50%;
        }

        .items ul{
            display: flex;
            justify-content: center;
            gap: 1.5rem;
margin-right: 5.5rem;
        }

        .items a{
            padding: .7rem;
        }

        .items img{
            width: 1.8rem;
        }

        .box-2{
min-width: 70vw;
padding-left: 2rem;
padding-right: 2rem;
margin-top: 0px;



        }

        .box-2 .box-white{
            top: 85%;
right: 20%;
        }

        .box-white::after{
            visibility: hidden;
          }
          .box-2 .p-1{
            color: rgb(194, 194, 194);
            font-size: .950rem;
            text-align: center;
        }
}